#             syntax

#user-chosen worker ID (must be unique)
#a host name with or without a login, in a form: login@host.fqdn (password-less SSH access to these hosts must be possible)
#additional SSH params (can be empty)
#a remote working directory (most exist on the worker nodes)
#number of DDS Agents for this worker


flp, fiebig@asustest02, , /tmp/dds_wn_dir, 5

scheduler, fiebig@asustest02, , /tmp/dds_wn_dir, 1

epn, fiebig@asustest02, , /tmp/dds_wn_dir, 1
